
<div class ="sidebar">
    <ul>
        <a href="#q1"><li>Nombre d’host et de review par quartier</li></a>
        <a href="#q2"><li>Pourcentage d’acceptation et de réponse moyen des hosts.</li></a>
        <a href="#q3"><li>Pourcentage des hosts selon le type de vérification</li></a>
        <a href="#q4"><li>Nombre moyen d’amenities et l'écart type en fonction des types de room</li></a>
        <a href="#q5"><li>Prix median par type de room, le maximum, le minimum, le premier et le troisième quartile</li></a>
        <a href="#q6"><li>Nombre d'annonces par valeur de salle de bain</li></a>
        <a href="#q7"><li>Corrélation entre le nombre de reviews et la taille de la description en terme de nombre de caractères</li></a>
        <a href="#q8"><li>Pourcentage général de séjour où le nom de l'host est identique au nom du reviewer</li></a>
     </ul>
</div>
